<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*CNy2EclZxC1hmi_govb_7w.png"
      alt=""
      height="200"
      srcset=""
    >
  </div>

    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.
        Mé faiz elementum girarzis, nisi eros vermeio.Copo furadis é disculpa de bebadis, arcu quam euismod magna.
        Si num tem leite então bota uma pinga aí cumpadi!
      </a>
    </p>
  </div>
</div>
